# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
*.log

# Python virtual environment
venv/
env/

# Editor-specific files
.vscode/
.idea/

# System-specific files
.DS_Store
Thumbs.db
